@inject CreatePostViewModel ViewModel;

@if (ViewModel.IsBusy)
{
    <BusyIndicator/>
}

@if (!ViewModel.IsBusy)
{
    <section class="post-status">
    <form @onsubmit="ViewModel.SubmitAsync">
        <fieldset>
            <p class="font-medium">Please enter a status</p>
            <label class="text-sm col-span-2">
                Post a status
                <InputTextArea rows="4" class="w-full" @bind-Value="ViewModel.Body"/>
            </label>
        </fieldset>
        <button disabled="@(!ViewModel.CanPost)" type="submit">Post</button>
    </form>
    </section>
}

@if (ViewModel.ResultMessage is { } resultMessage)
{
    <ResultMessage ViewModel="resultMessage"/>
}

@code{
    [CascadingParameter] public required AppState AppState { get; init; }

    protected override void OnInitialized()
    {
        if (AppState.CurrentUser is { } user)
            ViewModel.Initialize(user);
    }
}