
<section class="bg-gray-200 dark:bg-gray-900 rounded-lg p-4 shadow-md flex flex-col justify-start items-center">
    @if (!string.IsNullOrEmpty(ViewModel.Error))
    {
        <p class="error">@ViewModel.Error</p>
    }

    @foreach (var message in _messages)
    {
        <MessageBlock ViewModel="@message" />
    }
    
    @if (ViewModel.IsBusy)
    {
        <BusyIndicator />
    }
    else
    {
        <form @onsubmit="ViewModel.SendMessageAsync">
            <label>
                Message :
                <InputTextArea @bind-Value="ViewModel.NewMessage"></InputTextArea>
            </label>
            <button type="submit">Send</button>
        </form>
    }
</section>

@code {
    MessageBlockViewModel[] _messages = [];
    
    [Parameter] public required MessagesConversationViewModel ViewModel { get; init; }

    protected override async Task OnInitializedAsync()
    {
        _messages = await ViewModel.Messages.ToArrayAsync().ConfigureAwait(false);
    }

}