<article class="transform -rotate-3 mt-20 w-full items-center -ml-full rounded-3x1 bg-blue">
    <p>@ViewModel.Body</p>
    <footer>
        <address>
            <time>@ViewModel.Time</time>
            by <NavLink rel="author" href="@ViewModel.AuthorProfileUrl">@ViewModel.PostedBy</NavLink>
        </address>
    </footer>
</article>

@code {
    [Parameter] public required PostViewModel ViewModel { get; init; }
}