<form class="form-inline flex flex-row items-center mx-4"
      method="get" action="/Search">
    <input type="search" name="q" placeholder="Search" aria-label="Search">
    <button type="submit">Search</button>
</form>