<div class="flex flex-col space-y-4 md:space-y-0 md:space-x-6 md:flex-row max-w-lg m-4 p-4
            border border-gray-300 dark:border-gray-700">
    <div class="w-full align-middle">
        <NavLink href="@ViewModel.Url">
            @ViewModel.DisplayName
        </NavLink>
        <Bio ViewModel="ViewModel.Bio"/>
        <small>@ChildContent</small>
    </div>
    <DegreeIndicator Degrees="ViewModel.Degrees"/>
</div>

@code {
    [Parameter] public required ProfileLinkViewModel ViewModel { get; init; }
    [Parameter] public RenderFragment? ChildContent { get; init; }
    [CascadingParameter] public required AppState AppState { get; init; }

    protected override Task OnInitializedAsync() =>
        AppState.CurrentUser is { } user
            ? ViewModel.InitializeAsync(user)
            : Task.CompletedTask;

}