@inject ILogger<QuickPost> Logger;
@inject QuickPostViewModel ViewModel;

<form @onsubmit="ViewModel.SubmitAsync">
    <fieldset>
        <label>
            Update your status
            <InputTextArea @bind-Value="ViewModel.StatusText" />
        </label>
    </fieldset>
    <button type="submit">Post</button>
</form>

@code {
    [CascadingParameter(Name = "CurrentUser")] string CurrentUser { get; set; } = "";

    protected override void OnInitialized()
    {
        ViewModel.Initialize(CurrentUser);
    }

}