@inject IUserRepository UserRepository;

@if (_users.Any())
{
    <InputSelect
        ValueExpression="() => CurrentUserName"
        ValueChanged="(string value) => CurrentUserValueChanged(value)">
        @foreach (var user in _users)
        {
            <option value="@user.Id.Value">@user.DisplayName.Value</option>
        }
    </InputSelect>
    <hr/>
}

@code {
    ProfileSummary[] _users = [];

    string? CurrentUserName => AppState.CurrentUser?.Id.Value;

    [CascadingParameter] public required AppState AppState { get; init; }

    ProfileSummary? Get(string username) => _users.FirstOrDefault(x => username.Equals(x.Id.Value));

    protected override async Task OnInitializedAsync()
    {
        _users  = await UserRepository.GetAllUsersAsync().ToArrayAsync().ConfigureAwait(false);
        await UpdateProfileAsync(_users.First().Id.Value).ConfigureAwait(false);
    }
    
    async Task CurrentUserValueChanged(string value)
    {
        AppState.CurrentUser = null;
        // await Task.Delay(100).ConfigureAwait(false);
        await UpdateProfileAsync(value).ConfigureAwait(false);
    }

    async Task UpdateProfileAsync(string id)
    {
        AppState.CurrentUser = await UserRepository.GetUserAsync(id).ConfigureAwait(false);
    }
}