@page "/"

<PageTitle>conNEXTion</PageTitle>
<h1>conNEXTion</h1>

@* <pre> *@
@*     @User *@
@* </pre> *@

<QuickPost/>
<TimeLine/>

@code {
    [CascadingParameter] public UserDetails User { get; set; } = null!;
}