@inject MessagesViewModel ViewModel;

@page "/Messages"
@page "/Messages/{profileId}"

<section class="grid grid-cols-6">

<nav class="col-span-2">
    <h3>Inbox</h3>
    <ul>
    @foreach (var item in ViewModel.Inbox)
    {
        <NavLink href=@($"/Messages/{item.Id.Value}")>
            @item.DisplayName.Value
        </NavLink>
    }
    </ul>
</nav>

@if (ViewModel.Conversation is { } conversation) {
    <MessagesConversation ViewModel="@conversation" />    
}
</section>

@code {
    [Parameter] public string? ProfileId { get; init; }
    [CascadingParameter] public required AppState AppState { get; init; }

    protected override Task OnParametersSetAsync() =>
        AppState.CurrentUser is { } currentUser
            ? ViewModel.InitializeAsync(currentUser, ProfileId)
            : Task.CompletedTask;

}