@inherits LayoutComponentBase

<UserTester/>
@if (_visible)
{
    <h1>conNEXTion</h1>
    <nav>
        <NavLink href="/">Home</NavLink>
        @* <NavLink href=@($"/profile/{User.username}")>Profile</NavLink> *@
    </nav>
    @Body
}
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool _visible;

    [CascadingParameter] public required AppState AppState { get; init; }

    protected override void OnInitialized()
    {
        _visible = AppState.CurrentUser is not null;
        AppState.RegisterCallback(new(this, HandleAppSateChanged));
    }

    void HandleAppSateChanged()
    {
        _visible = AppState.CurrentUser is not null;
        InvokeAsync(StateHasChanged);
    }

}