@inherits LayoutComponentBase

<UserTester/>
@if (_visible && AppState.CurrentUser is not null)
{
    <header>
        <h1>
            con<span class="emphasis">NEXT</span>ion
        </h1>
        <nav>
            <SerachBox />
            <NavLink href="/Home">Home</NavLink>
            <NavLink href=@($"/Messages")>Messages</NavLink>
            <NavLink href=@($"/Events")>Events</NavLink>
            <NavLink href=@($"/Profile/{AppState.CurrentUser.Id.Value}")>Profile</NavLink>
        </nav>
    </header>
    <main>
        @Body
    </main>
}
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool _visible;

    [CascadingParameter] public required AppState AppState { get; init; }

    protected override void OnInitialized()
    {
        _visible = AppState.CurrentUser is not null;
        AppState.RegisterCallback(new(this, HandleAppSateChangedAsync));
    }

    async Task HandleAppSateChangedAsync()
    {
        _visible = false;
        if (AppState.CurrentUser is not null)
        {
            await Task.Delay(500).ConfigureAwait(false);
            _visible = true;
        }

        _ = InvokeAsync(StateHasChanged);
    }

}