@page "/Profile/{userName}"
@inject UserProfileViewModel ViewModel;

<main>
    <h2>@ViewModel.FullName</h2>
    <section>
        <h3>Following</h3>
        <ul>
            @foreach (var u in ViewModel.Followeing)
            {
                <li>@u.FullName</li>
            }
        </ul>
    </section>
    <section>
        <h3>Followers</h3>
        <ul>
            @foreach (var u in ViewModel.Followers)
            {
            <li>@u.FullName</li>
            }
        </ul>
    </section>
    <section>
        <h3>Recent Posts</h3>
        @foreach(var post in ViewModel.LatestPosts)
        {
        <Post ViewModel="post" />
        }
    </section>
</main>

@code {
    [Parameter] public required string UserName { get; init; }
    [CascadingParameter] public required UserDetails CurrentUser { get; init; }

    protected override Task OnInitializedAsync() => ViewModel.InitializeAsync(UserName, CurrentUser);
}